# Exclude everything
/*

# Local act secrets
/.env

# Include important folders.
!common/
!buildSrc/
!buildSrc/build.gradle
!buildSrc/src/
!buildSrc/src/**
buildSrc/.gradle/
buildSrc/build/
!fabric/
!forge/
!neoforge/

# Git files
!.github/
!.gitattributes
!.gitignore
!.actrc

# Gradle files
!gradle/
!build.gradle
!gradle.properties
!gradlew
!gradlew.bat
!settings.gradle

# Other files
!LICENSE
!README.mc
