# Exclude everything
/*

# Include important folders.
!src/

# Git files
!.github/
!.gitignore

# Gradle files
!gradle/
!build.gradle
!gradle.properties
!gradlew
!gradlew.bat
!settings.gradle

# Other files
!LICENSE.md
!README.md
